{% extends "base.html" %}



{%block head_title %} {{ instance.title}}{%endblock head_title %}
{% comment %} <title>
    {% block style%}
    h1{
        color:#777777;
    }
    {% endblock style %}
</title> {% endcomment %}
{% block content %}
    <div class='col-sm-6 col-sm-offset-3'>
        <h1>{{title}} 
       <small>{{instance.timestamp}}</small></h1>
        {{instance.title}}<br/>
        {% comment %} {% if instance.user.get_full_name %} {% endcomment %}
        <p>Author: {{instance.user}}</p>
      {% comment %} {%endif%} {% endcomment %}

   <a href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}}">
    Facebook
    </a>
    <a href="https://twitter.com/home?status={{instance.content}}%20{{request.build_absolute_uri}}">
       Twitter
    </a>
    <a href='https://plus.google.com/share?url={{request.build_absolute_uri}}'>Google+</a>
    <a href="https://www.linkedin.com/shareArticle?mini=true&url=http://swiftforentrepreneurs.com/&title={{instance.title}}&summary={{share_string}}&source={{request.build_absolute_uri}}">
        Linkedin
    </a>
    <a href="http://www.reddit.com/submit?url={{request.build_absolute_uri}}&title={{share_string}}.">Reddit</a>
    {{instance.content|linebreaks}}<br/>
    
    {% if instance.image %}
   <img src='{{ instance.image.url}}' class='img-responsive' /></br>
</div>


            {% endif%}
   {% endblock content %}  